<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - netdotro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css//bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/netdotro.styles.css" asp-append-version="true" /> *@
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a href="/"><img src="~/images/logo4.png" alt="Logo" style="width: 100px; height: auto;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Games/Games">Games</a>
                            </li>
                        </ul>
                    </ul>
                    <ul class="navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/bcoprescu">
                            <i class="bi bi-github"></i> GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">

        <div class="container">
        <hr>
        <div class="col-lg-12">

            <ul class="list-unstyled">
                <li class="float-end"><a href="#top"><i class="bi bi-arrow-up"></i>Back to top</a></li>
                <li><a href="/"><i class="bi bi-clipboard"></i>Blog</a></li>
                @* <li><a href="/">RSS</a></li> *@
                <li><a href="/"><i class="bi bi-twitter"></i>Twitter</a></li>
                <li><a href="https://github.com/bcoprescu"><i class="bi bi-github"></i>GitHub</a></li>
                @* <li><a href="/">Donate</a></li> *@
            </ul>
            <p>Made by <a href="/">Bogdan Oprescu</a>.</p>
            <p>Code released under the <a href="https://github.com/bcoprescu/netdotro/LICENSE">MIT License</a>.</p>
            <p>Icons from <a href="https://icons.getbootstrap.com/" rel="nofollow">Bootstrap Icons</a>. Web theme
                from <a href="https://bootswatch.com/lumen/" rel="nofollow">Bootswatch</a>.</p>
        </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>