@page
@model netdotro.Pages.Games.GamesModel
@{
    ViewData["Title"] = "Games";
}
@* <center> *@
    <br>
    <div class="row">
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="card border-primary mb-4" style="max-width: 20rem;">
                    <div class="card-header">Pacman</div>
                    <div class="card-body">
                        <center>
                            <a href="/Games/Pacman"><img src="~/pacman/logo.png" alt="Logo" style="width: 200px; height: auto;" /></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="card border-dark mb-4" style="max-width: 20rem;">
                    <div class="card-header">Pacman</div>
                    <div class="card-body">
                         <center>
                            <a href="/Games/Pacman"><img src="~/pacman/logo.png" alt="Logo" style="width: 200px; height: auto;" /></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">
                <div class="card text-white bg-dark mb-4" style="max-width: 20rem;">
                    <div class="card-header">Pacman</div>
                    <div class="card-body">
                         <center>
                            <a href="/Games/Pacman"><img src="~/pacman/logo.png" alt="Logo" style="width: 200px; height: auto;" /></a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
@* <center> *@